[Desktop Entry]
Name=Restaurar interface de fábrica
Comment=Permite restaurar as personalizações no Tiger OS sem afetar seus programas e arquivos
Exec=Tiger-Shell-reset.sh
Icon=icon_restore_config
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;
OnlyShowIn=XFCE;
X-XfceSettingsManagerHidden=false
X-XfcePluggable=true
